.GameBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    box-sizing: border-box;
    border: 1px solid #717171;
    background-color: #b4b4b4;

    cursor: pointer;
    user-select: none;
}

.Bomb {
    width: 10px;
    height: 10px;

    border-radius: 10px;
    background-color: #000;
}

.Flag {
    width: 0;
    height: 0;

    border: 10px solid transparent;
    border-left: 10px solid red;

    transform: translateX(35%);
}

.flagAndBombIcon {
    color: green;
    font-size: 1.4em;
}
